body{
    background: #acf3de;
}
p{
    font-size: 40px;
    font-family: CHERRY LIME;
    text-align: center;
    color: #000; 
    background: #1fa8a8;
    margin: auto;
    margin-top: 30px;
    border-radius: 23px;
}
center{
    font-family: Magical Story;
      font-size: 30px;  
    color: #000;
    width: 900px;
    background: #43c7c7;
    padding: 50px;
    margin: auto;
    margin-top: 40px;
    border-radius: 23px;
}